In [1]:
import pandas as pd
import numpy as np

mammogram_data=pd.read_csv("mammographic_masses.data.txt", na_values="?")
mammogram_data.head()

     5    67    3  5.1  3.1  1
0  4.0  43.0  1.0  1.0  NaN  1
1  5.0  58.0  4.0  5.0  3.0  1
2  4.0  28.0  1.0  1.0  3.0  0
3  5.0  74.0  1.0  5.0  NaN  1
4  4.0  65.0  1.0  NaN  3.0  0

In [2]:
mammogram_data.columns=["BI-RADS Assesments", "Age", "Shape","Margin","Density","Severity"]
mammogram_data.head()

   BI-RADS Assesments   Age  Shape  Margin  Density  Severity
0                 4.0  43.0    1.0     1.0      NaN         1
1                 5.0  58.0    4.0     5.0      3.0         1
2                 4.0  28.0    1.0     1.0      3.0         0
3                 5.0  74.0    1.0     5.0      NaN         1
4                 4.0  65.0    1.0     NaN      3.0         0

In [3]:
mammogram_data.describe()

,BI-RADS Assesments,Age,Shape,Margin,Density,Severity
count,958.000000,955.000000,929.000000,912.000000,884.000000,960.000000
mean,4.347599,55.475393,2.721206,2.793860,2.910633,0.462500
std,1.783838,14.482917,1.243428,1.565702,0.380647,0.498852
min,0.000000,18.000000,1.000000,1.000000,1.000000,0.000000
25%,4.000000,45.000000,2.000000,1.000000,3.000000,0.000000
50%,4.000000,57.000000,3.000000,3.000000,3.000000,0.000000
75%,5.000000,66.000000,4.000000,4.000000,3.000000,1.000000
max,55.000000,96.000000,4.000000,5.000000,4.000000,1.000000

In [4]:
mammogram_data.loc[(mammogram_data["Age"].isnull()|
                  mammogram_data["Shape"].isnull()|
                  mammogram_data["Margin"].isnull()|
                  mammogram_data["Density"].isnull())].head(50)

     BI-RADS Assesments   Age  Shape  Margin  Density  Severity
0                   4.0  43.0    1.0     1.0      NaN         1
3                   5.0  74.0    1.0     5.0      NaN         1
4                   4.0  65.0    1.0     NaN      3.0         0
5                   4.0  70.0    NaN     NaN      3.0         0
6                   5.0  42.0    1.0     NaN      3.0         0
8                   5.0  60.0    NaN     5.0      1.0         1
11                  4.0  64.0    1.0     NaN      3.0         0
18                  4.0  40.0    1.0     NaN      NaN         0
19                  NaN  66.0    NaN     NaN      1.0         1
21                  4.0  43.0    1.0     NaN      NaN         0
25                  2.0  66.0    1.0     1.0      NaN         0
26                  5.0  63.0    3.0     NaN      3.0         0
34                  4.0  77.0    3.0     NaN      NaN         0
37                  4.0  48.0    4.0     5.0      NaN         1
39                  4.0  59.0    2.0     1.0      NaN         0
42                  4.0  61.0    2.0     1.0      NaN         0
44                  5.0  44.0    2.0     4.0      NaN         1
46                  4.0  23.0    1.0     1.0      NaN         0
47                  2.0  42.0    NaN     NaN      4.0         0
51                  4.0  23.0    1.0     1.0      NaN         0
52                  4.0  63.0    2.0     1.0      NaN         0
53                  4.0  53.0    NaN     5.0      3.0         1
54                  4.0  43.0    3.0     4.0      NaN         0
56                  5.0  51.0    2.0     4.0      NaN         0
57                  4.0  45.0    2.0     1.0      NaN         0
58                  5.0  59.0    2.0     NaN      NaN         1
62                  3.0  57.0    2.0     1.0      NaN         0
64                  4.0  25.0    2.0     1.0      NaN         0
66                  5.0  72.0    4.0     3.0      NaN         1
73                  5.0  70.0    NaN     4.0      NaN         1
82                  4.0  57.0    NaN     4.0      1.0         0
83                  5.0  51.0    4.0     NaN      NaN         1
84                  4.0  33.0    1.0     NaN      NaN         0
86                  5.0  36.0    1.0     NaN      NaN         0
87                  4.0  63.0    1.0     1.0      NaN         0
91                  4.0  67.0    1.0     1.0      NaN         0
93                  5.0  60.0    1.0     NaN      3.0         0
95                  4.0  40.0    1.0     1.0      NaN         0
96                  4.0  47.0    2.0     1.0      NaN         0
99                  5.0  59.0    2.0     NaN      NaN         0
100                 4.0  65.0    2.0     NaN      NaN         0
101                 4.0  58.0    4.0     4.0      NaN         0
102                 4.0  29.0    2.0     NaN      NaN         0
103                 4.0  58.0    1.0     1.0      NaN         0
104                 4.0  54.0    1.0     1.0      NaN         0
105                 4.0  44.0    1.0     1.0      NaN         1
106                 3.0  34.0    2.0     1.0      NaN         0
108                 5.0  33.0    4.0     4.0      NaN         1
112                 4.0  56.0    2.0     1.0      NaN         0
113                 4.0  40.0    3.0     4.0      NaN         0

In [5]:
mammogram_data=mammogram_data.drop("Density",axis=1 )
mammogram_data.head(20)

    BI-RADS Assesments   Age  Shape  Margin  Severity
0                  4.0  43.0    1.0     1.0         1
1                  5.0  58.0    4.0     5.0         1
2                  4.0  28.0    1.0     1.0         0
3                  5.0  74.0    1.0     5.0         1
4                  4.0  65.0    1.0     NaN         0
5                  4.0  70.0    NaN     NaN         0
6                  5.0  42.0    1.0     NaN         0
7                  5.0  57.0    1.0     5.0         1
8                  5.0  60.0    NaN     5.0         1
9                  5.0  76.0    1.0     4.0         1
10                 3.0  42.0    2.0     1.0         1
11                 4.0  64.0    1.0     NaN         0
12                 4.0  36.0    3.0     1.0         0
13                 4.0  60.0    2.0     1.0         0
14                 4.0  54.0    1.0     1.0         0
15                 3.0  52.0    3.0     4.0         0
16                 4.0  59.0    2.0     1.0         1
17                 4.0  54.0    1.0     1.0         1
18                 4.0  40.0    1.0     NaN         0
19                 NaN  66.0    NaN     NaN         1

In [6]:
mammogram_data.dropna(inplace=True)
mammogram_data.head(20)

    BI-RADS Assesments   Age  Shape  Margin  Severity
0                  4.0  43.0    1.0     1.0         1
1                  5.0  58.0    4.0     5.0         1
2                  4.0  28.0    1.0     1.0         0
3                  5.0  74.0    1.0     5.0         1
7                  5.0  57.0    1.0     5.0         1
9                  5.0  76.0    1.0     4.0         1
10                 3.0  42.0    2.0     1.0         1
12                 4.0  36.0    3.0     1.0         0
13                 4.0  60.0    2.0     1.0         0
14                 4.0  54.0    1.0     1.0         0
15                 3.0  52.0    3.0     4.0         0
16                 4.0  59.0    2.0     1.0         1
17                 4.0  54.0    1.0     1.0         1
20                 5.0  56.0    4.0     3.0         1
22                 5.0  42.0    4.0     4.0         1
23                 4.0  59.0    2.0     4.0         1
24                 5.0  75.0    4.0     5.0         1
25                 2.0  66.0    1.0     1.0         0
27                 5.0  45.0    4.0     5.0         1
28                 5.0  55.0    4.0     4.0         0

In [7]:
feature_data=mammogram_data[["Age", "Shape", "Margin"]].to_numpy()
label_data=mammogram_data["Severity"].to_numpy()
feature_data

array([[43.,  1.,  1.],
       [58.,  4.,  5.],
       [28.,  1.,  1.],
       ...,
       [64.,  4.,  5.],
       [66.,  4.,  5.],
       [62.,  3.,  3.]])

In [8]:
#Normalize feature data
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaledfeature_data=scaler.fit_transform(feature_data)
scaledfeature_data

array([[-0.84692254, -1.40296151, -1.12187817],
       [ 0.17655463,  1.0110779 ,  1.42719033],
       [-1.87039971, -1.40296151, -1.12187817],
       ...,
       [ 0.5859455 ,  1.0110779 ,  1.42719033],
       [ 0.72240912,  1.0110779 ,  1.42719033],
       [ 0.44948188,  0.2063981 ,  0.15265608]])

In [9]:
#DECISION TREES
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

clf=DecisionTreeClassifier(random_state=1)
cv_score=cross_val_score(clf, scaledfeature_data, label_data, cv=10)
print(cv_score.mean())

0.7457482124616955

In [10]:
#RANDOM FOREST CLASSIFIER
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
np.random.seed(112)

f_train,f_test,l_train,l_test=train_test_split(scaledfeature_data, label_data, test_size=0.2, train_size=0.8, random_state=10)
clf=RandomForestClassifier()
clf.fit(f_train, l_train)
clf.score(f_test, l_test)

0.7909604519774012

In [11]:
#SVM 
from sklearn import svm

svc=svm.SVC(kernel="linear",C=1.0)
cv_score=cross_val_score(svc, scaledfeature_data, label_data, cv=10)
print(cv_score.mean())

0.7965781409601635

In [12]:
svc=svm.SVC(kernel="poly",C=1.0)
cv_score=cross_val_score(svc, scaledfeature_data, label_data, cv=10)
print(cv_score.mean())

0.7920582226762001

In [13]:
svc=svm.SVC(kernel="sigmoid",C=1.0)
cv_score=cross_val_score(svc, scaledfeature_data, label_data, cv=10)
print(cv_score.mean())

0.7175944841675179

In [14]:
svc=svm.SVC(kernel="rbf",C=1.0)
cv_score=cross_val_score(svc, scaledfeature_data, label_data, cv=10)
print(cv_score.mean())
print("THE WINNER")

0.816917773237998
THE WINNER

In [15]:
#LOGISTIC REGRESSION
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
cv_scores=cross_val_score(clf, scaledfeature_data, label_data)
print(cv_scores.mean())

0.8067796610169491

In [16]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
clf=KNeighborsClassifier(n_neighbors=10)
cv_score=cross_val_score(clf,scaledfeature_data, label_data, cv=10)
print(cv_score.mean())

0.7977272727272726

In [17]:
mean_scores=[]
for i in range(1,51):
    clf=KNeighborsClassifier(n_neighbors=i)
    cv_score=cross_val_score(clf,scaledfeature_data, label_data, cv=10)
    mean_scores.append(cv_score.mean())
mean_scores.sort(reverse=True)
print(mean_scores[0])

0.8078651685393259

In [18]:
#NAIVE BAYES
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import MinMaxScaler
clf=MultinomialNB()
scaler=MinMaxScaler()

minmax_scaledfeature=scaler.fit_transform(scaledfeature_data)
cv_score=cross_val_score(clf, minmax_scaledfeature, label_data, cv=10)
print(cv_score.mean())

0.6644152196118489